 <!-- ================ INICIO FOOTER ================= -->
  <footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-6 single-footer-widget">
					<h4>Visítanos</h4>
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-70.66076874732973%2C-33.44486189934619%2C-70.6466066837311%2C-33.4371536104429&amp;layer=mapnik&amp;marker=-33.44100336414417%2C-70.6536877155304" style="border: 1px solid black"></iframe>
				</div>
				<div class="col-lg-4 col-md-6 single-footer-widget">
					<h4>Dirección</h4>
					<p>Morandé 226, Santiago.</p>
          <h4>Contacto</h4>
					<p>Fono: (+56) 2 2694 5423</p>
				</div>
			</div>
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Ministerio de Ciencia, Tecnología, Conocimiento e Innovación.</p>

				<div class="col-lg-4 col-md-12 footer-social">
					<a href="https://www.facebook.com/MinisterioDeCiencia"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/min_ciencia"><i class="fa fa-twitter"></i></a>
					<a href="https://www.instagram.com/min_ciencia"><i class="fa fa-instagram"></i></a>
					<a href="https://www.youtube.com/channel/UCTOOTHpsZkIaU1RoDQZFWyA"><i class="fa fa-youtube"></i></a>
				</div>
			</div>
		</div>
	</footer>
  <!-- ================ FIN FOOTER ================= -->

  <script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
  <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/js/parallax.min.js}"></script>
  <script th:src="@{/js/owl.carousel.min.js}"></script>
  <script th:src="@{/js/jquery.counterup.min.js}"></script>
  <script th:src="@{/js/jquery.nice-select.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
</body>
<!-- ================ FIN BODY ================= -->
</html>